<section class="header__text">
    <h1>Hola!, yo soy <span id="nombre">Gilberto</span></h1>
    <h2>UX/UI Desing | Developer Desing</h2>
    <p>Soy un ingeniero en sistemas computacionales y diseñador UX/ UI.
        He trabajado en varios proyectos, si te interesa saber más, sigue explorando
        mi perfil. Gracias por visitar!
    </p>
    <ul class="list--rs">
        <li>
            <a href="#">
                <img src="../../assets/images/linkedin-round-svgrepo-com.svg" 
                alt="Linkedin"
                class="link--rs" >
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../assets/images/behance-round-svgrepo-com.svg" 
                alt="Behance"
                class="link--rs" >
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../assets/images/github-142-svgrepo-com.svg" 
                alt="GitHub"
                class="link--rs">
            </a>
        </li>
    </ul>
    <div class="header__button">
        <button class="button--primary"><a href="">Descargar CV</a></button>
    </div>
    
</section>
<section class="header__img">
    <img src="../../../assets/imgs/foto-perfil.png" alt="foto perfil"
    class="header__img">
</section>
<hr>