<section class="testimony">
    <h2>Testimonial</h2>
    <p>Aqui podras observar recomendaciones con clientes o compañeros de trabajo 
        con los que e podido trabajar</p>
    <article class="testimony__card">
        <div class="testimony__ranking">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h3>Impresion del testimonio</h3>
        <p>Este es el mensaje del testimonio Este es el mensaje del testimonio Este es el mensaje del testimonio
            Este es el mensaje del testimonio
            Este es el mensaje del testimonio
        </p>
        <div class="testimony__people">
            <img src="../../assets/images/foto-Gilberto.png" alt="Foto de persona">
            <div>
                <h4>Nombre y apellido</h4>
                <p>Empresa</p>
            </div>
        </div>
    </article>
</section>
