/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  padding: 0 10px;
  background-color: #F0F0F6;
}

:root{
    --color--principal: #FD853A;
    --color--principal_light: #FFEAD5;
    --color--gray: #9E9D9D;
    --color--gray_20: #686868;
    --color--light: #FCFCFD;
    --color--dark: #171717;

    --fonts--sansSerif: sans-serif;
    --fonts--roboto: roboto;
    --fonts--inter: "Inter", sans-serif;
}


h1,h2,h3,h4,h5 {
  font-family: var(--fonts--inter);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.button--small{
  text-transform: capitalize;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 12px;
  background-color: var(--color--principal);
}

.button--medium{
  text-transform: capitalize;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--color--principal);
}

.button--large{
  text-transform: capitalize;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color--principal);
}