<section class="service__section">
    <div class="service__card">
        <img src="../../assets/images/github-142-svgrepo-com.svg" alt="">
        <h3>UI/UX Design</h3>
        <p>Mobile App, Website Design</p>
    </div>
    <div class="service__card">
        <img src="../../assets/images/github-142-svgrepo-com.svg" alt="">
        <h3>UI/UX Design</h3>
        <p>Mobile App, Website Design</p>
    </div>
    <div class="service__card">
        <img src="../../assets/images/github-142-svgrepo-com.svg" alt="">
        <h3>UI/UX Design</h3>
        <p>Mobile App, Website Design</p>
    </div>
</section>