<section class="work">
    <h2>Mis proyectos</h2>
    <article  class="work__card">
        <a href="">
            <img src="https://picsum.photos/400/400?r=1" alt="">
            <div class="work__card--text">
                <h3>APP Contrato INERCY</h3>
                <span class="word__card--tag"><img src="" alt="icono">Adobe XD</span>
            </div>
        </a>
        <div class="work__card--info">
            <h4>Rol: <span>Diseñador</span></h4>
            <div class="work__card--links">
                <a class="button--large" href="#"><i class="fas fa-info-circle"></i>repo</a>
                <a class="button--large" href="#"><i class="fas fa-info-circle"></i>enlace</a>
            </div>
        </div>
    </article>
</section>